.participant_cont {
    background-image: url('./img/hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 50px);
}

.form_field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.participant_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_msg {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 30rem; */
    /* margin-left: 30rem; */
    /* top: 0rem; */
}

.back__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    margin: auto;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.gender__form-field {
    position: relative;
    right: 12.6%;
}