.record_header {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.record_form {
    border: 1px solid red;
    display: grid !important;
    justify-content: center;
    align-items: center;
}

.record_form input {
    width: 20rem
}

.record_btn {
    display: inline;
    margin-left: 1rem;
}

.table_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.t_header {
    height: 2rem;
    background-color: rgb(192, 198, 203);
}

.t_header-item {
    padding: 0 1rem;
    font-size: 12px;
}

.t_body-data {
    text-align: center;
}

.odd_even-bg {
    height: 2.5rem;
}

.odd_even-bg:nth-of-type(even) {
    background-color: rgb(241, 245, 245);
}

.delete {
    color: red;
}