.navbar_container {
    width: 100%;
    height: 4rem;
    background: rgb(15, 158, 215);
    scroll-behavior: smooth;
    position: sticky;
}

.navbar_list_container {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.navbar_list_container a {
    color: aliceblue;
}

.navbar_list_container a:hover {
    color: aliceblue;
    opacity: .8;
}

.navbar_list>ul {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.navbar_list>ul>li {
    margin: 0 2rem;
}

.logout_btn {
    background: transparent;
    border: none;
    color: whitesmoke;
}

.logout_btn:hover {
    cursor: pointer;
    opacity: .8;
}

@media screen and (max-width:426px) {
    .navbar_list>ul {
        display: none;
    }
}