* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


.error_msg {
  width: 338px;
  padding: 10px;
  margin: 5px 0;
  font-size: 1rem;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.form_field {
  width: 100%;
}

.record_header {
  display: grid;
  place-items: center;
  padding-top: 2rem;
}

.form_field input {
  width: 30rem !important;
}

.back__btn {
  display: flex;
  place-content: center;
  background: #fbbd08;
  width: 5rem;
  margin: 1rem;
  padding: .5rem 2rem;
  border-radius: .2rem;
  color: rgb(42, 40, 40);
  font-size: larger;
  font-weight: 600;
}

.back__btn:hover {
  opacity: .8;
  color: black;
}

.ui.button {
  font-size: 500;
}